@model Schedule.ViewModels.Authorization.RegisterViewModel

<div class="content-area">
    <div class="container">
        <div class="content-center">
            <div class="window">
                <div class="big-title-area">
                    <h2>Регистрация</h2>
                </div>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label class="control-label" asp-for="Email"></label><br />
                        <input class="form-control" placeholder="Введиите email" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="FirstName"></label><br />
                        <input class="form-control" placeholder="Введите имя" asp-for="FirstName" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="LastName"></label><br />
                        <input class="form-control" placeholder="Введите фамилию" asp-for="LastName" />
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="Surname"></label>
                        <input class="form-control" placeholder="Введите отчество" asp-for="Surname">
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="Password"></label><br />
                        <input class="form-control" placeholder="Введите пароль" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="PasswordConfirm"></label><br />
                        <input class="form-control" placeholder="Повторите пароль" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Регистрация" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>