@{
    ViewData["Title"] = "Home Page";
}

<div class="big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Расписание</h2>
            </div>
        </div>
    </div>
</div>

<div class="content-area">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="single-schedule-element">
                    <div class="schedule-name">Название расписания</div>
                    <div class="schedule-employees-number">Количество сотрудников: <span>34</span></div>
                    <div class="schedule-shifts-number">Количество смен: <span>2</span></div>
                    <a class="button" asp-controller="Account" asp-action="Login">Редактировать</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="new-schedule-element">
                    <a class="button" asp-controller="Account" asp-action="Login">Создать новое расписание</a>
                </div>
            </div>

        </div>
    </div>
</div>
