@model Schedule.ViewModels.Timetable.TimetableDeleteViewModel

<div class="content-area">
    <div class="container">
        <div class="content-center">
            <div class="window">
                <div class="big-title-area">
                    <h2>Удалить расписание</h2>
                </div>
                <form method="post" asp-controller="Timetable" asp-action="DeleteTimetable">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <p class="text-description">
                            Вы уверены? Вы собираетесь удалить расписание. Это действие будет невозможно отменить.
                            Введите навзвание расписания, для потдверждения удаления.
                        </p>
                    </div>
                    <div>
                        <label class="control-label" asp-for="TimetableName"></label> <br />
                        <input type="hidden" asp-for="TimetableName" />
                        <span class="unselected">@Model.TimetableName</span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="Owner"></label> <br />
                        <span>@User?.Identity?.Name</span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="TimetableNameConfirm"></label><br />
                        <input class="form-control" placeholder="Название расписания" asp-for="TimetableNameConfirm" />
                        <span class="text-danger" asp-validation-for="TimetableNameConfirm"></span>
                    </div>
                    <a class="button-white button" asp-controller="Timetable" asp-action="EditTimetable" asp-route-id="@ViewBag.id">Отмена</a>
                    <input class="button" type="submit" value="Удалить" />
                </form>
            </div>
        </div>
    </div>
</div>